---
import Layout from "../layouts/Layout.astro";
import CardContainer from "../components/CardContainer.astro";

export async function getStaticPaths() {
  const categories = [
    "indumentaria",
    "tecnologia",
    "otros",
    "higene&hogar",
    "electrodomesticos",
    "tecnologia",
  ];

  return categories.map((category) => ({
    params: { category },
  }));
}

const { category } = Astro.params;

export const prerender = true;
---

<Layout>
  <h1>{category}</h1>
  <CardContainer url={`/${category}`} server:defer />
</Layout>
