---
import Layout from "../layouts/Layout.astro";
import CardContainer from "../components/CardContainer.astro";
---

<Layout title= 'Jimbofertas'>
  <h1>Pagina Home</h1>
  
  <CardContainer />
</Layout>