---
import Layout from "../layouts/Layout.astro";
import CardContainer from "../components/CardContainer.astro";

export const prerender = true;
---

<Layout title="Jimbofertas">
  <h1>Pagina Home</h1>

  <CardContainer server:defer />
</Layout>