<section class="buscador-container">
  <form>
    <input
      type="text"
      name="search"
      id="search"
      placeholder="¿Qué estas buscando?"
    />
    <button type="button" class="boton" id="btn">Buscar</button>
  </form>
</section>

<style>
  .buscador-container {
    display: flex;
    justify-content: center;
    margin: 20px 0 15px 0;
  }

  .buscador-container form {
    display: flex;
    justify-content: center;
    max-width: 980px;
    gap: 10px;
    line-height: 40px;
  }

  .buscador-container input {
    border: none;
    height: 40px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1.5px;
    border-radius: 2px;
    font-size: 16px;
    width: 100%;
    background-color: #fff;
  }

  .buscador-container input:focus {
    border-color: var(--primary-color);
  }
</style>


<script>

  const infoSearchBar = ()=> {
    const btn = document.getElementById('btn') 
    btn?.addEventListener("click", (e) => {
      e.preventDefault()
      const name = document.getElementById('search').value
      // update de URL
      const params = new URLSearchParams(window.location.search)
      params.set('name', name)

      history.pushState(null, '', '?' + params.toString())
      
      const pathname = window.location.pathname
      const category = pathname.split('/').pop() // nos quedamos con el ultimo elemeneto despues de la barra 

      fetch(`/api/products?category=${encodeURIComponent(category)}&name=${encodeURIComponent(name)}`)
      .then(data => data.json())
      .then(data => console.log(data))
      .catch(err => console.error(err))
    })
  }

  document.addEventListener('DOMContentLoaded', infoSearchBar)
  document.addEventListener('astro:after-swap', infoSearchBar)
</script>